//font color
$normalTextColor: $white;
$navTextColor: $scorpion;
$headlineTextColor: $black;
$descriptionTextColor: $rollingStone;
$albumTextColor: $silverChalice;
$sliderYearsTextColor: $abbey;
$upcomingEventsTextColor: $bismark;
$historyTextColor: $stormDust;
$contactTextColor: $tundora;
$concertFirstGradientTextColor: $hippieBlue;
$concertSecondGradientTextColor: $gulfStream;
$TrackNumberTextColor: $silver;
$instaColor: $purple;
$twitterColor: $pictonBlue;
//header bg color
$headerBg: $blackHaze;
//video info bg color
$videoInfoBg: $blackHazeBg;
// border button
$borderButton: $edward;