@font-face {
  font-family: "DosisRegular";
  src: url("../fonts/Dosis-Regular.eot"); 
  src: url("../fonts/Dosis-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Dosis-Regular.otf") format("opentype"),
    url("../fonts/Dosis-Regular.ttf") format("truetype"),
    url("../fonts/Dosis-Regular.woff") format("woff"), 
    url("../fonts/Dosis-Regular.woff2") format("woff2"); 
}
@font-face {
  font-family: "DosisBold";
  src: url("../fonts/Dosis-Bold.eot");
  src: url("../fonts/Dosis-Bold.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/Dosis-Bold.otf") format("opentype"),  
    url("../fonts/Dosis-Bold.ttf") format("truetype"), 
    url("../fonts/Dosis-Bold.woff") format("woff"),
    url("../fonts/Dosis-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "OpenSansRegular";
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/OpenSans-Regular.otf") format("opentype"),
    url("../fonts/OpenSans-Regular.ttf") format("truetype"),
    url("../fonts/OpenSans-Regular.woff") format("woff"), 
    url("../fonts/OpenSans-Regular.woff2") format("woff2"); 
}
@font-face {
  font-family: "OpenSansBold";
  src: url("../fonts/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/OpenSans-Bold.otf") format("opentype"), 
    url("../fonts/OpenSans-Bold.ttf") format("truetype"),
    url("../fonts/OpenSans-Bold.woff") format("woff"),
    url("../fonts/OpenSans-Bold.woff2") format("woff2"); 
}